Repository paseo-network/paseo-action-submission, pull requests merged in 2024-10, with the labels that each got.

#142 Add PAS5 validators for Bestvalidator
  paseo-validators/active/bestvalidator.yml
Labels: new-validator

#148 add metaspan/5
  paseo-validators/active/metaspan.yml
Labels: new-validator

#150 Update openbitlab.yml - add 5th Paseo validator
  paseo-validators/active/openbitlab.yml
Labels: new-validator

#149 add 5th paseo validator
  paseo-validators/active/turboflakes.yml
Labels: new-validator

#155 add Sik | crifferent.de/5 validator
  paseo-validators/active/sik-crifferent.yml
Labels: new-validator

#153 Update ParaNodes.yml
  paseo-validators/active/ParaNodes.yml
Labels: new-validator

#156 add ExtraCoin/05
  paseo-validators/active/extracoin.yml
Labels: new-validator

#157 Update luckyfriday.yml
  paseo-validators/active/luckyfriday.yml
Labels: new-validator

#154 Update validorange.yml to add PAS5 validator
  paseo-validators/active/validorange.yml
Labels: new-validator

#146 Update dpstk.yml
  paseo-validators/active/dpstk.yml
Labels: new-validator

#158 Add 5th Paseo validator for Dwellir
  paseo-validators/active/dwellir.yml
Labels: new-validator

#152 Add 5th Parity validator address
  paseo-validators/active/parity.yml
Labels: new-validator

#162 Gatotech: update old & spin 5th validator
  paseo-validators/active/gatotech.yml
Labels: new-validator

#160 Add 5th Paseo validator for Staker Space
  paseo-validators/active/staker-space
Labels: new-validator

#169 Coretime onboarding change.
  pas/PAS-10-Onboard-paras-coretime.md
Labels: documentation

#168 chore: new PAS for coretime onboarding process
  README.md
  pas/PAS-10-Onboard-paras-coretime.md
  pas/PAS-2-core-support-model.md
  pas/PAS-9-Onboard-paras-slots.md
Labels: documentation, PAS
