Repository paseo-network/paseo-action-submission, pull requests merged in 2024-03, with the labels that each got.

#33 New Validator: New file validorange.yml
  paseo-validators/validorange.yml
Labels: new-validator, infra-onboarding

#39 Onboarding Simply Staking as a validator
  paseo-validators/simplystaking.yml
Labels: new-validator, infra-onboarding

#57 Add CoinStudio as a validator
  paseo-system-parachain/asset-hub/active/CoinStudio
Labels: new-validator, infra-onboarding

#59 Add Polkadotters validator addresses
  pas/Active_Paseo_Validators.md
  paseo-validators/active/polkadotters.md
Labels: new-validator, infra-onboarding

#60 Adding stkd to active validators
  paseo-validators/active/stkd.yml
Labels: new-validator, infra-onboarding

#62 Add Helikon validators
  paseo-validators/active/helikon.md
Labels: new-validator, infra-onboarding

#63 Create gatotech.yml
  paseo-validators/active/gatotech.yml
Labels: new-validator, infra-onboarding

#64 Update README.md, Update PAS numbers, Delete Validator PAS
  README.md
  pas/Deactivated_Paseo_Validators.md
  pas/PAS-2-core-support-model.md
  pas/PAS-3-indexer-explorer.md
  pas/PAS-4-paseo-network-support-wiki.md
  pas/PAS-5-paseo-support-repository.md
  pas/PAS-6-team-call-schedule.md
  pas/PAS-7-Hardware_specs.md
Labels: documentation

#65 Add CoinStudio to AssetHub collators
  paseo-system-parachain/asset-hub/active/CoinStudio
Labels: infra-onboarding, new-system-collator, infra-accepted

#66 Onboard paseo turboflakes validator and asset-hub collator
  paseo-system-parachain/asset-hub/active/turboflakes.yml
  paseo-validators/active/turboflakes.yml
Labels: infra-onboarding, new-system-collator, infra-accepted

#82 Add Parity Validator identity
  paseo-validators/active/parity.yml
Labels: new-validator, infra-onboarding

#70 Add stakeworld validators
  paseo-validators/active/stakeworld.yml
Labels: new-validator, infra-onboarding, infra-accepted

#81 RadiumBlock Paseo validators onboarding registration
  paseo-validators/active/radiumblock.yml
Labels: new-validator, infra-onboarding, infra-accepted

#86 Add Sik | crifferent.de to active validators
  paseo-validators/active/sik-crifferent.yml
Labels: new-validator, infra-onboarding, infra-accepted

#88 add DPSTK
  paseo-validators/active/dpstk.yml
Labels: new-validator, infra-onboarding, infra-accepted

#85 Add Mile validator
  paseo-validators/active/Mile.yml
Labels: new-validator, infra-onboarding, infra-accepted

#84 Update validorange.yml to add 2nd validator
  paseo-validators/active/validorange.yml
Labels: new-validator, infra-accepted

#83 Add Rotko's paseo validator nodes
  paseo-validators/active/rotko.yml
Labels: new-validator, infra-onboarding, infra-accepted

#80 Add openbitlab validator addresses
  paseo-validators/active/openbitlab.yml
Labels: new-validator, infra-onboarding, infra-accepted

#44 PAS0044: Onboarding Parachains - Slots
  pas/PAS-44-Onboard-paras-slots.md
Labels: PAS

#36 PAS Status updates
  README.md
Labels: PAS

#90 add amforc
  paseo-validators/active/amforc.yml
Labels: new-validator, infra-onboarding, infra-accepted

#95 Fix 44 pas
  README.md
  pas/PAS-9-Onboard-paras-slots.md
Labels: documentation, PAS

#73 Onboard Paseo Staker Space Validator
  paseo-validators/active/staker-space
Labels: new-validator, infra-onboarding, infra-accepted

#87 add ExtraCoin
  paseo-validators/active/extracoin
Labels: new-validator, infra-onboarding, infra-accepted

#69 Onboard bestvalidator paseo validator and asset-hub collator
  paseo-validators/active/bestvalidator.yml
Labels: new-validator, infra-onboarding, infra-accepted
