Repository paseo-network/paseo-action-submission, pull requests merged in 2024-07, with the labels that each got.

#125 Update ParaNodes.yml
  paseo-validators/active/ParaNodes.yml
Labels: new-validator, Q2 - 2024

#126 Update gatotech.yml
  paseo-validators/active/gatotech.yml
Labels: new-validator, waiting-validator-bonding, Q3 - 2024

#129 Update luckyfriday.yml
  paseo-validators/active/luckyfriday.yml
Labels: new-validator, Q3 - 2024

#127 Add 3 parity validators
  paseo-validators/active/parity.yml
Labels: new-validator, Q3 - 2024

#115 Adding StakingLand Validators
  paseo-validators/active/stakingland.yml
Labels: new-validator
